<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/src/styles/main.css"|asset }}" />
    <script src="{{ "/src/scripts/main.js"|asset }}" type="module"></script>
</head>
<body>
<figure>
    <figcaption class="p-4 text-4xl">{{ hello }}</figcaption>
</figure>
</body>
</html>
